<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Навігатор аудиторій</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Головна</a>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/map-view']">Мапа універистету</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/lecture-room-list']">Список аудиторій</a>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/room-navigation']">Навігатор</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="user_logeed_in && user_is_admin">
            <a class="nav-link text-dark" [routerLink]="['/admin-panel']">Адмін-панель</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!user_logeed_in">
            <a class="nav-link text-dark" [routerLink]="['/login']">Увійти</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!user_logeed_in">
            <a class="nav-link text-dark" [routerLink]="['/register']">Зареєструватись</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="user_logeed_in">
            <a class="nav-link text-dark" (click)="logout()">Вийти</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
