
<div>
  <p-dropdown [options]="all_lecture_rooms"
              [(ngModel)]="start_point"
              optionLabel="name"
              [filter]="true"
              filterBy="name"
              placeholder="Select start point"></p-dropdown>
</div>

<div>
  <p-dropdown [options]="all_lecture_rooms"
              [(ngModel)]="stop_point"
              optionLabel="name"
              [filter]="true"
              filterBy="name"
              placeholder="Select stop point"></p-dropdown>
</div>
<div>
  <button  (click)="find_and_show_path()">Прокласти маршрут</button>
</div>
<university-map *ngIf ="show_map"
                [LectureRoomsLayersData]="nav_lecture_rooms"
                [NavigationNodesLayersData]="nav_navigation_nodes"
                [NavigationEdgesLayersData]="nav_navigation_edges"
                [ShowLectureRooms]="show_rooms"
                [ShowNavigationNodes]="show_nav_nodes"
                [ShowNavigationEdges]="show_nav_edges"
                [CurrentFloor]="current_floor"
                [HighlightNodes]="current_highlight"></university-map>


<div>
  <button (click)="show_next()">Наступна точка</button>
</div>
