<p-table [value]="users" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th style="width:40%">Логін</th>
      <th style="width:40%">Ролі</th>
      <th style="width:20%"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="user">
      <td>
        {{user.userName}}
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-multiSelect [options]="roles" optionLabel="name" appendTo="body" [(ngModel)]="user.roles" [style]="{'width':'100%'}"></p-multiSelect>
          </ng-template>
          <ng-template pTemplate="output">
            <div *ngFor="let role of user.roles">
              {{role.name}}
            </div>
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <div class="flex align-items-center justify-content-center gap-2">
          <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(user)" class="p-button-rounded p-button-text"></button>
          <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(user)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
          <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(user, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
          <button *ngIf="!editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="delete(user)" class="p-button-rounded p-button-text p-button-danger"></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
