<p-table
         [value]="lecture_rooms"
         sortField="floor"
         [rows]="10"
         [paginator]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>Номер аудиторії</th>
      <th>Кількість місць</th>
      <th>Поверх</th>
      <th>Факультет</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-room>
    <tr>
      <td>{{ room.name }}</td>
      <td>{{ room.numberOfSeats }}</td>
      <td>{{ floor_to_name(room.floor) }}</td>
      <td>{{ room.faculty.name }}</td>
    </tr>
  </ng-template>
</p-table>
