<div class="row">
  <div class="column">
    Поверх:
    <p-dropdown [options]="floors" optionLabel="viewValue" [(ngModel)]="current_floor_object" (onChange)="setFloor($event)"></p-dropdown>
    <h5>Відстань</h5>
    <div>    <input type="text" [(ngModel)]="to_add_edge.distance" pInputText /></div>

    <button pButton type="submit" (click)="sumbit()" class="p-button-raised p-button-rounded">Додати сполучення</button>
  </div>

  <div class="column">
    <university-map *ngIf="show_map"
                    [LectureRoomsLayersData]="lecture_rooms"
                    [NavigationNodesLayersData]="navigation_nodes"
                    [NavigationEdgesLayersData]="navigation_edges"
                    [ShowLectureRooms] ="show_rooms"
                    [ShowNavigationNodes]="show_nodes"
                    [ShowNavigationEdges]="show_edges"
                    (on_navigation_click)="ClickNavigationNodeHandler($event)"
                    (on_room_click)="ClickLectureRoomHandler($event)"
                    [CurrentFloor]="current_floor"
                    [HighlightNodes]="current_highlight"></university-map>

  </div>
</div>
