<h4>Навігатор аудиторій в університеті</h4>
<p>Цей проект допоможе знайти потрібну аудиторію в ЛНУ ім. Івана Франка.</p>
<ul>
  <li><a [routerLink]="['/map-view']">Мапа універистету</a> дозволяє переглянути розташування аудиторій в університеті</li>
  <li>На сторінці <a [routerLink]="['/lecture-room-list']">списку аудиторій</a> можна знайти потрібну аудиторію за номером</li>
  <li>На сторінці <a [routerLink]="['/room-navigation']">навігації</a> доступна інтерактивна мапа з можливістю покроково прокласти маршрут між аудиторіями і входомо в університет</li>
</ul>
