<div class="row">
  <div class="column">
    Поверх:
    <p-dropdown [options]="floors" optionLabel="viewValue" [(ngModel)]="current_floor_object" (onChange)="setFloor($event)"></p-dropdown>
    <h5>Navigation node coordinates:</h5>

    <div>
      <label>x:</label>
      <input name="x" [(ngModel)]="to_update_node.x" />
    </div>

    <div>
      <label>y:</label>
      <input name="y" [(ngModel)]="to_update_node.y" />
    </div>

    <button pButton type="submit" (click)="update()" class="p-button-raised p-button-rounded">Оновити</button>
    <button pButton type="submit" (click)="delete()" class="p-button-raised p-button-rounded p-button-danger">Видалити</button>
  </div>

  <div class="column">
    <university-map *ngIf="data_ready"
                    (on_navigation_click)="ClickNavigationNodeHandle($event)"
                    [NavigationNodesLayersData]="navigation_nodes"
                    [CurrentFloor]="current_floor"
                    [ShowNavigationNodes]="show_nodes"></university-map>

  </div>
</div>
