<div class="row">
  <div class="column">
    Поверх:
    <p-dropdown [options]="floors" optionLabel="viewValue" (onChange)="setFloor($event)"></p-dropdown>
    <h5>Navigation node coordinates:</h5>

    <div>
      <label>x:</label>
      <input name="x" [(ngModel)]="to_add_node.x" />
    </div>

    <div>
      <label>y:</label>
      <input name="y" [(ngModel)]="to_add_node.y" />
    </div>
    <button pButton type="submit" (click)="sumbit()" class="p-button-raised p-button-rounded">Додати навігаційний вузол</button>
  </div>

  <div class="column">
    <university-map *ngIf="data_ready"
                    (click_coordinates)="ChildEventHandler($event)"
                    [NavigationNodesLayersData]="navigation_nodes"
                    [CurrentFloor]="current_floor"
                    [ShowNavigationNodes]="show_nodes"></university-map>

  </div>
</div>
