<div class="row">
  <div class="column">
    Поверх:
    <p-dropdown [options]="floors" optionLabel="viewValue" [(ngModel)]="current_floor_object" (onChange)="setFloor($event)"></p-dropdown>
    <div>
      <div class="p-field p-col-12 h-5rem">
        <span class="p-float-label">
          <input type="text" pInputText [(ngModel)]="to_update_room.name" />
          <label>Номер</label>
        </span>
      </div>
      <div class="p-field p-col-12 h-5rem">
        <span class="p-float-label">
          <input type="text" pInputText [(ngModel)]="to_update_room.numberOfSeats" />
          <label>Кількість місць</label>
        </span>
      </div>
      <div>
        Факультет:
        <p-dropdown [options]="faculties" [(ngModel)]="to_update_room.faculty" optionLabel="name"></p-dropdown>
      </div>
    </div>
    <button pButton type="submit" (click)="update()" class="p-button-raised p-button-rounded">Оновити</button>
    <button pButton type="submit" (click)="delete()" class="p-button-raised p-button-rounded p-button-danger">Видалити</button>
  </div>

  <div class="column">
    <university-map *ngIf="data_ready"
                    (on_room_click)="ClickOnRoomNodeHandle($event)"
                    [LectureRoomsLayersData]="lecture_rooms"
                    [CurrentFloor]="current_floor"
                    [ShowLectureRooms]="show_rooms"></university-map>

  </div>
</div>
