<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
  <a [routerLink]="['lecture-room-add']">Додати адуторію</a>|
  <a [routerLink]="['lecture-room-edit']">Редагувати аудиторію</a>|
  <a [routerLink]="['navigation-node-add']">Додати навігаційний вузол</a>|
  <a [routerLink]="['navigation-node-edit']">Редагувати навігаційний вузол</a>|
  <a [routerLink]="['navigation-edge-add']">Додати сполучення вузлів</a>|
  <a [routerLink]="['users-crud']">Редагувати користовачів</a>|
  <a [routerLink]="['roles-crud']">Редагувати ролі</a>|
  <a [routerLink]="['faculties-crud']">Редагувати факультети</a>|


</nav>
<router-outlet></router-outlet>
