<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="left">
    <button pButton pRipple label="Додати факультет" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
  </ng-template>
</p-toolbar>


<p-table #faculty_table [value]="faculties" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th style="width:40%">Ідентифікатор</th>
      <th style="width:40%">Назва</th>
      <th style="width:20%"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-faculty let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="faculty">
      <td>
        {{faculty.id}}
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="faculty.name" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{faculty.name}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <div class="flex align-items-center justify-content-center gap-2">
          <button pButton pRipple type="button" icon="pi pi-times" (click)="delete(faculty)" class="p-button-rounded p-button-text p-button-danger"></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>


<p-dialog [(visible)]="addDialog" [style]="{width: '450px'}" header="Додайте деталі" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">

    <div class="field">
      <label for="name">Назва</label>
      <input type="text" pInputText id="name" [(ngModel)]="faculty.name" required autofocus />
      <small class="p-error" *ngIf="submitted && !faculty.name">Name is required.</small>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Скасувати" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Додати" icon="pi pi-check" class="p-button-text" (click)="saveFaculty()"></button>
  </ng-template>
</p-dialog>
